@import './vars.scss';

.comment{

    margin: 20px 0;
    position: relative;

    &__body{
        font-size: 14px;        
    }

    &:not(:first-of-type):after{
        content: '';
        position: absolute;
        width: 40%;
        height: 1px;
        background: #000;
        top: -10px;
        left: 50%;
        transform: translateX(-50%);
    }
}